<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/static" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">

      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">MyShop</a></li>
        <li class="nav-item" style="display: flex">
          <a class="nav-link px-2 link-secondary" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#checkout-modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            MyCart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link px-2 link-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Checkout
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#paymentWindow">Modal</a></li>
            <li><a class="dropdown-item" href="#">Paypal</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link px-2 link-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Sort
          </a>
          <ul class="dropdown-menu">
            <a>   Categories:</a>
            <form th:action="@{/category}" method="post">
              <li th:each="category,iterStat :${categories}" >
                <button class="dropdown-item" name = "categoryId" type="submit" th:value="${category.getId()}"  th:text="${category.getDepartment()}">Category Title</button>
              </li>
            </form>
            <a>   Suppliers:</a>
            <form th:action="@{/supplier}" method="post">
              <li th:each="supplier,iterStat :${suppliers}" >
                <button class="dropdown-item" name = "suppliersId" type="submit" th:value="${supplier.getId()}"  th:text="${supplier.getName()}">Category Title</button>
              </li>
            </form>
          </ul>

        </li>

      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-light text-dark me-2" data-bs-toggle="modal" data-bs-target="#login-modal">Login</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signin-modal">Sign in</button>
      </div>
    </div>
  </div>
</header>