<div class="container px-4 py-5" id="products">
  <h2 class="pb-2 border-bottom">Products</h2>
  <div class="row g-4 py-5 row" th:each="prod,iterStat : ${products}">
    <div class="col d-flex align-items-start">
      <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <img class="" src="http://placehold.it/400x250/000/fff"
             th:attr="src='img\product_' + ${prod.id} + '.jpg'" alt=""/>
      </div>
      <div>
        <h3 class="card-title" th:text="${prod.name}">Product name</h3>
        <p class="card-text" th:text="${prod.description}">Product description... </p>
        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
        <a class="btn btn-success" href="#">Add to cart</a>
      </div>
    </div>
  </div>
</div>