<div class="container" th:fragment="footer">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <a href="/static" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <img src="/img/logo1.png" alt="logo" class="foto"></a>
            <p class="text-muted">© 2023</p>
        </div>

        <div class="col mb-3"></div>

        <div class="col mb-3"></div>

        <div class="col mb-3"></div>

        <div class="col mb-3">
            <h5>Developers</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" data-bs-toggle="modal" data-bs-target="#asia">Joanna Smolińska</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" data-bs-toggle="modal" data-bs-target="#tomek">Tomasz Kraczek</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" data-bs-toggle="modal" data-bs-target="#tymek">Tymoteusz Sztrumpf</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" data-bs-toggle="modal" data-bs-target="#piotr">Piotr Skowron</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" data-bs-toggle="modal" data-bs-target="#rafal">Rafał Gontarski</a></li>
            </ul>
        </div>
    </footer>
</div>